.faq-question {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ccc;
  padding: 10px;
  transition: background-color 0.3s ease; /* Smooth background color transition */
}

.faq-answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease; /* Smooth max-height transition */
}

.faq-question.expanded {
  background-color: #4caf50; /* Change background color when expanded */
  color: white; /* Change text color when expanded */
}

.faq-question.expanded i {
  transform: rotate(180deg); /* Rotate the icon when expanded */
}
