*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth; /* Add smooth scrolling behavior */
   scrollbar-width: none; /* Hide scrollbar in Firefox */
  -ms-overflow-style: none; /* Hide scrollbar in IE/Edge */
}